.card-container{
  display: flex;
}

.add-btn{
  padding: .6rem 1rem;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: #22cbff;
  color: #fff;
  width: 350px;
}

.user-form input{
  margin: .2rem 0;
  width: 350px;
  display: block;
  padding: .6rem;
}
